<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>node.js</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}
    <div class="form">
        <input placeholder="Enter name">
        <input placeholder="Enter Age"><br>
        <input placeholder="Enter DOB">
        <input placeholder="Enter place"><br>
        <button style="background-color: green;">help12</button>
    </div>
    {{>footer}}

    <script src="./js/script.js"></script>
</body>
</html>