<h1>{{title}}</h1>
<div id="msg">
    <p id="co-rdi"></p>
    <p id="location"></p>
    <p id="condition"></p>
</div>
<div id="navbar">
    <a href="/">
        <h1>Weather</h1>
    </a>
    <a href="/about">
        <h1>About</h1>
    </a>
    <a href="/help">
        <h1>Help</h1>
    </a>
</div>